%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheets/screen.css", :type => "text/css", :media => "screen"}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.flot.js"}
    %script{:type => "text/javascript", :src => "/javascripts/jquery.flot.pie.js"}
    %script{:type => "text/javascript", :src => "/javascripts/application.js"}

  %body
    #container
      %header.clearfix
        %h1.logo Rufus' Pig Foot Emporium
        %img.oinkbot{:src => "/images/oinkbot.gif"}

      %section#content=yield
